*.o
*~
*.a
*.so
*.lo
*.la
*.log
*.out
*.rcb
*.pack
*.exe
*.s
*.cfg
*.dat
*.i
*.gz
*.bz2
*.xz
agssave.*
rcb.*.mak
config.mak
testcase*
core
foo*

agsalphahack
agscriptxtract
agsdisas
agsinject
agspack
agsprite
agssemble
agssim
agstract

scmd_tok.h
scmd_tok.c
scmd_tok.shilka
regname_tok.h
regname_tok.c
regname_tok.shilk

GPATH
GRTAGS
GTAGS

